auth.json
bin/
com.microsoft.z3.jar
example.py
include/
libz3.a
libz3.dylib
libz3java.dylib
z3
z3.py
zipcode_profile.json
z3consts.py
z3consts.pyc
z3core.py
z3core.pyc
z3num.py
z3num.pyc
z3poly.py
z3poly.pyc
z3printer.py
z3printer.pyc
z3rcf.py
z3rcf.pyc
z3test.py
z3test.pyc
z3types.py
z3types.pyc
z3util.py
z3util.pyc