body {
	text-align: center;
	background-color: #292929;
	font-family: "Karla", Helvetica, Arial, sans-serif;
	color: #ffffff;
	margin-top: 80px;
	margin-bottom: 80px;
}

#map {
	margin: 0 auto;
	color: #292929;
}

.leaflet-container {
	font-family: "Karla", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

rect.hour {
	stroke: #292929;
	stroke-width: 8px;
}

text.mono {
	font-size: 9pt;
	font-family: "Karla", courier;
	fill: #545454;
}

text.axis-workweek {
	fill: #aaa;
}

text.axis-worktime {
	fill: #aaa;
}

.label {
  position: absolute;
  width: 80px;
  height: 24px;
  font-size: 0.95em;
  padding: 3px;
  pointer-events: none;
  background-color: #EC6D6D;
}

#dataset-picker {
	margin-bottom: 25px;
}

.dataset-button.tickets {
    background-color: #EC6D6D;
}

.dataset-button.towed {
    background-color: #ECD06D;
}

.dataset-button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    font-family: "Karla";
    font-size: 1em;
    color: #ffffff;
}

.selected {
	background-color: red;
}