body {
	text-align: center;
	background-color: #292929;
	font-family: "Karla", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

#map {
	margin: 0 auto;
	color: #292929;
}

.leaflet-container {
	font-family: "Karla", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

rect.hour {
	stroke: #292929;
	stroke-width: 8px;
}

text.mono {
	font-size: 9pt;
	font-family: "Karla", courier;
	fill: #545454;
}

text.axis-workweek {
	fill: #aaa;
}

text.axis-worktime {
	fill: #aaa;
}

.label {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}